table, th, td {
  border: 1px black solid;
}


td {
  width: 50px;
  height: 60px;
}

.Row0 td, .Column0 {
  background-color: #008000;
  height: 20px;
  width: 20px;
  font-weight: bold;
}
