body {
  background-color: #FF9999;
  font-family: 'Work Sans', sans-serif;
}

#PityGraph {
  display: none;
}

.Beffy, h3 {
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
}

#imageBlock img {
  width:65px;
  height:50px;"
}
