body {
  font-family: 'Rubik', sans-serif;
  background-color: lightgrey;
}

h3, h6 {
  font-family: 'Roboto', sans-serif;
}

.Yell {
  font-size: 25px;
}

#Doppler, #SubmitArea {
  font-weight: bold;
}

#JezosWhine {
  font-family: 'Arvo', serif;
  font-weight: bold;
}
