html {
  font-family: helvetica;
}

h1 {
  display: inline-block;
  color: blue;
}

.TORA {
  margin-left: 40px;

}

.Beffy {
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  text-transform: uppercase;
}

#FourDigitLock {

}


.ZYRA, #Fourth {
  color: red;
}

.HINTERLANDS, #Third {
  color: lightgreen;
}

.HIGGLEDY, #Second {
  color: #cc33ff;
}

.DUSTY, #First {
  color: blue;
}

.SORCERESS {

}

#PityGraphOne {
  display: none;
}

#PityGraphTwo {
  display: none;
}

.Key {
  font-weight: bold;
  font-size: large;
}
